#root {
  margin: 0;
  display: grid;
  grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
  grid-template-rows: min-content min-content auto min-content;
}

body {
  background-color: lavender; 
}

#navigation {
  background-color: #c5ccd1 ;
  color: purple;
  grid-area: navigation;
  padding: 5px;
  position: sticky;
  top: 0;
}